@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.background-img{
  background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png');
  min-height: 100vh;
}
.carousel-container{
  padding: 20px;
  margin: auto;
  padding-top: 30px;
}
@media screen and (min-width: 1200px){
  .background-img{
    width: 40%;
    margin: auto;
  }
}
.header{
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.button{
  width: 100px;
  height: 30px;
  font-size: 12px;
  color: #ff8348;
}
.heading{
  font-family: 'Roboto';
  color: white;
  font-size: 28px;
  font-weight: 800;
}
.description{
  padding: 20px;
  color: white;
}
.subHeading{
  color: white;
  padding: 20px;
  font-size: 24px;
}
.movieList{
  padding: 20px;
  display: flex;
}
.movieImg{
  margin-right: 20px;
}